$colors: (
  primary: #1D9FCD,
  accent: #D9D9D9,
  text: #1E1E1E,
);


@function color($colorname){
    @return map-get($colors, $colorname)
  }

$title-font: 'Lexend', sans-serif;;
$content-font: 'Roboto', sans-serif;
$btn-padding: 1em 5em;
$btn-border: 5px;

*, *::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;          
}

body::-webkit-scrollbar-thumb {
  background-color: color(primary);   
  border-radius: 10px;       
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: color(text);
    color: color(accent);
    padding: 0 35px;
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .left-column {
    display: flex;
    justify-content: space-between;
    padding-top: 0.9em;
  }
  
  .right-column {
    display: flex;
    justify-content: flex-end;
  }
  
  .right-column  a {
      margin-left: 2em;
      color: #fff;

      &:hover{
        color: color(primary);
      }
    
  }

  

  ul {margin-bottom: 0 !important;}

  #logo {
      width: auto;
      height: 2.5em;
      margin-left: 1em;
  }

  nav{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em !important;
    font-family: $title-font;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: color(primary);

    
    .nav-links{
      display: flex;
      background-color: none;
      
      .nav-link{
        list-style: none;
        padding: 1.3rem;
        
        a{
          text-decoration: none;
          color: color(text);
          transition: 0.6s ease-in-out;
          color: #fff;
          font-size: 14px;
  
          &:hover {color: color(text);}
        }
  
        #hire{
          background-color: color(secondary);
          padding: 0.5em 2em;
          border-radius: 10px;
          color: #fff;
          border: 1px solid color(secondary); 
  
          &:hover{
            border: 1px solid color(primary);
            background-color: transparent;
            color: color(primary);
           }
        }
      }
    }

/* Style the dropdown button */
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: color(primary);
  z-index: 99 !important;
  padding-right: 3em;
  padding-bottom: 2em;
  margin-top: 1em;

  li{
    list-style: none;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style-type: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: color(primary);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

    
    .menu-btn{ display: none;}
    
    .menu-icon{
      cursor: pointer;
      padding: .5rem;
      position: relative;
      z-index: 1;
      display: none;
      
      span{
        height: 2px;
        width: 20px;
        border-radius: 5x;
        background-color: #fff;
        display: block;
        position: relative;
        
        &::before,
        &::after{
          content: '';
          height: 100%;
          width: 100%;
          background-color: #fff;
          position: absolute;
        }
        
        &::before{
          transform: translateY(6px);
        }
        &::after{
          transform: translateY(-6px);
        }
      }
    }
  }
  
  .hero{
    grid-area: hero;
    color: color(primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    h2{
      font-size: 3rem;
    }
  }
  
  
  // ANIMATION**********
  
  @keyframes pulse{
    from{
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.6);
    }
    to{
      box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
      background: rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes opentop{
    0%{
      transform: translateY(-6px) rotate(0deg);
    }
    50%{
      transform: translateY(0) rotate(0deg);
    }
    100%{
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes closetop{
    0%{
      transform: translateY(-6px) rotate(0deg);
    }
    50%{
      transform: translateY(0) rotate(0deg);
    }
    100%{
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes openmid{
    50%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(45deg);
    }
  }
  
  @keyframes closemid{
    50%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(45deg);
    }
  }
  
  @keyframes openbtm{
    0%{
      transform: translateY(6px) rotate(0deg);
    }
    50%{
      transform: translateY(0) rotate(0deg);
    }
    100%{
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes closebtm{
    0%{
      transform: translateY(6px) rotate(0deg);
    }
    50%{
      transform: translateY(0) rotate(0deg);
    }
    100%{
      transform: translateY(0) rotate(90deg);
    }
  }
  
  
  
  

  // =========================================================================
  //                              MEDIA QUERIES 
  // =========================================================================

  @media screen and (max-width: 800px) {
    .contact-info {
      flex-direction: row;
      text-align: center;
    }
    
    .left-column, .right-column {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
    }
    
    .right-column {
      justify-content: center;
      margin-top: 10px;
    }
  }


    
  @media screen and (max-width:800px){
    
    nav{
      padding: 1em 1.5em !important;
  
      .nav-links{
        position: absolute;
        top: 0;
        left: 0;
        display: flex !important;
        height: 100vh;
        width: 100%;
        overflow-y: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1d9ecdf6;
        z-index: 5 !important;
        
        opacity: 0;
        clip-path: circle(200px at top right);
        transition: clip-path .8s .5s, opacity 1s .5s;
        
        .nav-link{
          margin: .2em ;
          opacity: 0;
          transform: translateX(100%);
          transition: opacity .4s ease-in-out,
                      transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          
          &:nth-of-type(1){
            transition-delay: 0.1s;
          }
          &:nth-of-type(2){
            transition-delay: 0.2s;
          }
          &:nth-of-type(3){
            transition-delay: 0.3s;
          }
          
          a, .dropbtn, .dropdown-content {
            font-size: 1em;
            text-transform: uppercase;
            color: #fff ;
          }

          .dropbtn:hover .dropdown-content {
            background-color: color(primary);
            z-index: 6 !important;
          }
        }
      }
  
      .menu-icon{
        display: block;
        z-index: 10 !important;
        
        span{
          animation: closemid 0.8s backwards;
          animation-direction: reverse;
          
          &::before{
            animation: closebtm 0.8s backwards;
            animation-direction: reverse;
          }
          &::after{
            animation: closetop 0.8s backwards;
            animation-direction: reverse;
          }
        }
      }
      
      
      .menu-btn:checked ~ .menu-icon{
        border-radius: 50%;
        animation: pulse 1s;
        
        span{
          animation: openmid 0.8s forwards;
          
          &::before{
            animation: openbtm 0.8s forwards;
          }
          &::after{
            animation: opentop 0.8s forwards;
          }
        }
      }
      .menu-btn:checked ~ .nav-links{
        opacity: 1;
        clip-path: circle(100% at center);
        
        .nav-link{
          opacity: 1;
          transform: translateX(0);
          
          transition: opacity .4s ease-in-out ,
                      transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
          
          &:nth-of-type(1){
            transition-delay: 0.7s;
          }
          &:nth-of-type(2){
            transition-delay: 0.8s;
          }
          &:nth-of-type(3){
            transition-delay: 0.9s;
          }
        }
      }
    }
  }